<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>會員頁</title>
  </head>
  <body>
    {% include "_header.html" with context %}
    <div class="content">
      <span class="welcome-name">{{ name }}</span>，歡迎登入系統<br /><br /><a
        href="/signout"
        >登出系統</a
      >
    </div>
    <hr />
    <div class="content">
      <h2>查詢會員姓名</h2>
      <input id="search-username" type="text" name="search-username" required />
      <button id="search" type="button" onclick="getAPIMember()">查詢</button>
      <div id="search-result"></div>
    </div>
    <hr />
    <div class="content">
      <h2>更新我的姓名</h2>
      <input id="update-username" type="text" name="update-username" required />
      <button
        id="update"
        type="submit"
        name="update"
        onclick="patchAPIMemberName()"
      >
        更新
      </button>
      <div id="update-result"></div>
    </div>
  </body>
  <script src="/static/script.js"></script>
</html>
