<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>會員頁</title>
  </head>
  <body>
    {% include "_header.html" with context %}
    <div class="content">
      {{ name }}，歡迎登入系統<br /><br /><a href="/signout">登出系統</a>
    </div>
    <hr />
    <div class="content">
      <h2>查詢會員姓名</h2>
      <input
        id="search-username"
        type="text"
        name="search-username"
        title="帳號需由 8~10 位英數字組成，包含至少一個大寫字母，且不可輸入特殊符號"
        required
      />
      <button id="search" type="button" onclick="getAPIMember()">查詢</button>
      <div id="search-result"></div>
    </div>
    <hr />
    <div class="content">
      <h2>更新我的姓名</h2>
      <input
        id="update-name"
        type="text"
        name="update-name"
        title="請輸入中文"
        required
      />
      <button id="update" type="submit" name="update">更新</button>
      <div id="update-result"></div>
    </div>
  </body>
  <script src="/static/script.js"></script>
</html>
